MVCWCF (1)/MVCWCF/MVCWCF/Connected Services/DemoService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceReg" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceReg" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="vlogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vlogin" nillable="true" type="tns:vlogin" />
  <xs:complexType name="UserRegister1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRegister1" nillable="true" type="tns:UserRegister1" />
</xs:schema>